<div class="animated fadeIn">
  <div class="card card-block card-outline-primary ">
		<h4 class="card-title">Customers</h4>
		<p class="card-text">McGill AirSilence takes pride in designing and manufacturing high-quality noise control solutions for its many customers. The following is a select sample of our growing list of customers. (Please contact us for a complete customer list.)</p>
    <hr>
  		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <ul>
            <li>3M Company</li>
            <li>Alcatel Network Systems</li>
            <li>Alcoa</li>
            <li>Battelle</li>
            <li>BellSouth Company</li>
            <li>Dow Corning Corporation</li>
            <li>Exxon Corporation</li>
            <li>Delta Airlines</li>
            <li>Ford Motor Company</li>
            <li>Frito Lay</li>
            <li>General Electric Corporation</li>
            <li>General Motors Corporation</li>
            <li>Georgia Pacific</li>
            <li>Goodyear Tire &amp; Rubber Company</li>
            <li>Harley Davidson</li>
            <li>Hayes Industrial Brake</li>
            <li>Hewlett Packard Company</li>
            <li>Kimberly-Clark Corporation</li>
            <li>Michelin North America, Inc.</li>
            <li>Mitsubishi</li>
            <li>Moen, Incorporated</li>
            <li>Phelps Dodge Incorporation</li>
            <li>PPG Industries, Incorporated</li>
            <li>R.R. Donnelly &amp; Sons</li>
            <li>Scott Company</li>
            <li>Siemens</li>
            <li>Square D Company</li>
            <li>The Timken Company</li>
            <li>United Air Specialists</li>
            <li>Valeo</li>
            <li>Vickers, Incorporated</li>
            <li>Waukesha-Pearce Industries, Incorporated</li>
            <li>Westinghouse Electric</li>
            <li>Weyerhauser Paper Company</li>
            <li>Yusa Corporation</li>
          </ul>
				</div>
			</div>
  </div>
</div>