<div class="animated fadeIn">
    <tabset>
        <tab heading="Engineered Acoustical Systems">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/eas.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirSilence has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/productguide.pdf" target="_blank">McGill AirSilence Product Guide (Acoustical Systems & Noise Control Products)</a><br /><br />
                    <a href="assets/literature/ss.pdf" target="_blank">Sounpak® Silencers (Round and Rectangular Duct Silencers for HVAC and Industrial Applications)</a><br /><br />
                    <a href="assets/literature/ssperform.pdf" target="_blank">Sounpak® Silencers Performance Data (Round and Rectangular Duct Silencers for HVAC and Industrial Applications)</a><br /><br />
                    <a href="assets/literature/sspanel.pdf" target="_blank">Soundscreen® Panel Systems (Prefabricated Panel Systems for Acoustical Enclosure and Barrier Wall Systems)</a><br /><br />
                    <a href="assets/literature/sspanelrr.pdf" target="_blank">Soundscreen® Type RR (Rapid Removable) Panel Systems</a><br /><br />
                    <a href="assets/literature/sspanelwa.pdf" target="_blank">Soundscreen® WA-1000 Wall Absorbing Panels</a><br /><br />
                    <a href="assets/literature/hspanels.pdf" target="_blank">Heatscreen® Oven Panels and Enclosures</a><br /><br />
                    <a href="assets/literature/ssbw.pdf" target="_blank">Soundscreen™ Barrier Walls (Heavy-Duty Noise Isolation Panel Systems)</a><br /><br />
                    <a href="assets/literature/qh.pdf" target="_blank">Quiet Haven™ Industrial Personnel Enclosures (Meet OSHA standards by isolating personnel from excessive sound)</a><br /><br />
                    <a href="assets/literature/fs.pdf" target="_blank">Fibersorb™ Curtain Systems</a><br /><br />
                    <a href="assets/literature/uh.pdf" target="_blank">Uni-Housing™ Pressurized Enclosures (For Heating, Ventilating, and Air Conditioning Equipment)</a><br /><br />
                </div>
            </div>
        </tab>
        <tab heading="Noise Control Materials">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/eas.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirSilence has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/diy.pdf" target="_blank">Do-it-Yourself Noise Control Materials</a><br /><br />
                    <a href="assets/literature/ssacwb.pdf" target="_blank">Soundscreen™ Acoustical Ceiling and Wall Baffles (Soundscreen™ Absorbers Offer Structural Integrity and Manage Resistance)</a><br /><br />
                    <a href="assets/literature/sswf.pdf" target="_blank">Soundscreen™ Wedge Foam Noise Damping Materials (Soundscreen™ Wedge Foam Absorbs Noise in Industrial and Commercial Environments)</a><br /><br />
                    <a href="assets/literature/ssaf.pdf" target="_blank">Soundscreen™ Acoustical Foam (Soundscreen™ Acoustical Foam Keeps Reverberant Noise Levels Low)</a><br /><br />
                    <a href="assets/literature/ssnd.pdf" target="_blank">Soundscreen™ Sheet and Noise Damping Tile (Soundscreen™ Sheet and Noise Damping Tile are Cost Effective)</a><br /><br />
                    <a href="assets/literature/ssvd.pdf" target="_blank">Soundscreen™ Vinyl Noise Barriers and Mats (Soundscreen™ Vinyl Noise Barriers and Mats Effectively Block Airborne Noise)</a><br /><br />
                    <a href="assets/literature/ssal.pdf" target="_blank">Soundscreen™ Acoustical Lining (Soundscreen™ Acoustical Lining Provides Absorption and Damping)</a><br /><br />
                    <a href="assets/literature/ssap.pdf" target="_blank">Soundscreen™ Acoustical Pipe, Duct, and Casing Lag (Soundscreen™ Acoustical Pipe, Duct, and Casing Lag has Excellent Properties for Indoor or Outdoor Applications)</a><br /><br />
                    <a href="assets/literature/ssht.pdf" target="_blank">Soundscreen™ High Thrust Air Nozzles (Soundscreen™ High Thrust Air Nozzles Reduce Noise and Save Air)</a><br /><br />
                    <a href="assets/literature/ssps.pdf" target="_blank">Soundscreen™ Pneumatic Silencers (Soundscreen™ Pneumatic Silencers Control Excessive Exhaust Air Noise)</a><br /><br />
                </div>
            </div>
        </tab>
        <tab heading="Assembly & Specs">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/assy.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirSilence has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/assy-ss.pdf" target="_blank">Assembly Instructions for Soundscreen™ Acoustical Panel Systems</a><br /><br />
                    <a href="assets/literature/assy-uh.pdf" target="_blank">Assembly Instructions for Uni-Housing™ Pressurized Enclosures</a><br /><br />
                    <a href="assets/literature/rec-uh.pdf" target="_blank">Recommended Specifications for Uni-Housing™ Pressurized Enclosures</a><br /><br />
                </div>
            </div>
        </tab>
        <tab heading="Case Histories">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/case.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirSilence has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/bradford.pdf" target="_blank">Attenuations #2: Bradford Industries</a><br /><br />
                    <a href="assets/literature/hayes.pdf" target="_blank">Attenuations #3: Hayes Industrial Brake</a><br /><br />
                    <a href="assets/literature/harley.pdf" target="_blank">Attenuations #4: Harley-Davidson</a><br /><br />
                    <a href="assets/literature/vickers.pdf" target="_blank">Case History: Vickers, Incorporated</a><br /><br />
                    <a href="assets/literature/ford.pdf" target="_blank">Case History: Ford Motor Company</a><br /><br />
                </div>
            </div>
        </tab>          
        <tab heading="Acoustical Engineering Reports">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/aer.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirSilence has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/aer1.pdf" target="_blank">AER#1, Acoustical Terminology—Part 1 (Sound, Noise, Loudness, Sound Pressure, and Sound Pressure Level)</a><br /><br />
                    <a href="assets/literature/aer2.pdf" target="_blank">AER#2, Acoustical Terminology—Part 2 (Frequency, Broadband, Sound Levels, and Octave Bands)</a><br /><br />
                    <a href="assets/literature/aer3.pdf" target="_blank">AER#3, Acoustical Terminology—Part 3 (Sound Power and Sound Power Level)</a><br /><br />
                    <a href="assets/literature/aer4.pdf" target="_blank">AER#4, Acoustical Terminology—Part 4 (Controlling Industrial Noise Pollution)</a><br /><br />
                    <a href="assets/literature/aer5.pdf" target="_blank">AER#5, Acoustical Terminology—Part 5 (Quantitative Analysis A-Weighting and Decibel Addition/Subtraction)</a><br /><br />
                    <a href="assets/literature/aer6.pdf" target="_blank">AER#6, Applying Acoustics—Part 3 (Quantitative Analysis Establishing Acoustical Design Goals)</a><br /><br />
                    <a href="assets/literature/aer7.pdf" target="_blank">AER#7, Computer-Aided HVAC Acoustical Analysis—Part 1 (Soundscreen™ Acoustical Lining Provides Absorption and Damping)</a><br /><br />
                    <a href="assets/literature/aer8.pdf" target="_blank">AER#8, Computer-Aided HVAC Acoustical Analysis—Part 2 (Value Engineering)</a><br /><br />
                </div>
            </div>
        </tab>          
    </tabset>
</div>