<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Quiet Haven™ Heavy-Duty, Industrial Personnel Enclosures</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/qh-1.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p>&nbsp;</p>
					<p><b>MEET OSHA STANDARDS BY ISOLATING PERSONNEL FROM EXCESSIVE SOUND</b><br />McGill AirSilence's Quiet Haven enclosures effectively isolate personnel from noise in industrial environments. They improve employee efficiency by isolating personnel from excessive sound without limiting machine access or operator visibility. Quiet Haven industrial personnel enclosures can be custom designed for a wide range of applications such as in-plant offices, control rooms, workstations, and testing laboratories.</p>
                    <p>Quiet Haven industrial personnel enclosures can be shipped completely assembled or in sections to be assembled on site. They are finished painted with windows, doors, lights, and electric wiring, and ready for field hook-up. They can be equipped with silenced air intake and exhaust systems. Air conditioning and heating are optional. These enclosures are designed with forklift channels in the base for easy pick-up and relocation without disassembly.</p>
                    <p><b>MATERIAL TYPES AND THICKNESSES</b><br />Soundscreen acoustical panels are the basic building block of all Quiet Haven personnel enclosures. The standard panel consists of a sandwich construction of an 18- or 20-gauge, galvanized solid steel outer shell, acoustical/thermal insulating fill, and a 22-gauge minimum, perforated, galvanized steel inner liner. Other skin materials are available including paintable galvanized steel, types 304 and 316 stainless steel, and aluminum. Standard panel dimensions are thicknesses of 2 or 4 inches, widths of 24 or 36 inches, and lengths up to 10 feet for 2-inch-thick panels and up to 16 feet for 4-inch panels.</p>
					<p><b>ACOUSTICAL/THERMAL FILL</b><br />The standard acoustical/thermal fill is fiberglass batt insulation. The insulation will not settle or promote growth of bacteria, mold, vermin, or insects. All insulating materials and inner and outer surfaces used in Soundscreen panels meet the requirements of NFPA-90A.</p>
				</div>      
			</div>
		</tab>
        <tab heading="Panel Construction">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Quiet Haven™ Standard Acoustical Panel Construction</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/uh-const.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p>Quiet Haven acoustical panels are the basic building block of all Quiet Haven personnel enclosures. The standard panel consists of a sandwich construction of an 18- or 20-gauge, galvanized solid steel outer shell, acoustical/thermal insulating fill, and a 22-gauge minimum, perforated, galvanized steel inner liner. Other skin materials are available including paintable galvanized steel, types 304 and 316 stainless steel, and aluminum. Standard panel dimensions are thicknesses of 2 or 4 inches, widths of 24 or 36 inches, and lengths up to 10 feet for 2-inch-thick panels and up to 16 feet for 4-inch panels</p>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const-sl.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>TYPE SL — SNAP-LOCK PANEL SYSTEMS — Permanent installations</b><br />Type SL panel systems are not intended for use in projects in which future disassembly and re-erection may be required.<br /><b>Rapid panel assembly time—</b><br />The snap-lock feature eliminates the need for joint-to-joint sheet metal screws and speeds assembly.<br /><b>Visually appealing panel-to-panel joints—</b><br />The elimination of sheet metal screws at joints provides an attractive assembled enclosure.</p>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const-tg.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>TYPE TG — TONGUE-AND-GROOVE PANEL SYSTEMS — Semi-permanent installations</b><br />Type TG panel systems allow future disassembly and re-erection.</p>
				</div>      
			</div>
        </tab>	
        <tab heading="Features">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Soundscreen™ Acoustical Enclosure Features</h4><br />
				<div class="card-text">
					<p><b>ACCESSORIES</b><br />Heating, cooling and ventilation systems, electrical systems, factory paint finishes, and telecommunication connectors can be furnished.</p>
					<p><b>ACOUSTICAL DOORS</b><br />All Quiet Haven enclosures can be furnished with a wide variety of acoustical doors. Standard personnel doors are 36 inches wide by 80 inches high and can be supplied with a 24-inch by 30-inch safety glass vision panel with neoprene acoustical edges and bottom seals. Doors are pre-hung, insulated, and equipped with two hinges, one industrial door latch (with an inside personnel safety release), and gasketing. Doors are also available in single- and double-leaf hinged, right- and left-hand swings, single- and double-horizontal slide, vertical slide, bifold constructions, manual operation, and automatically operated versions. Observation windows can be provided in all doors.</p>
					<p><b>OBSERVATION WINDOWS</b><br />Standard observation windows for Quiet Haven enclosures are constructed from two 1/4-inch-thick panes of safety glass held in place with neoprene acoustical seals and separated by an air space equal to the thickness of the panel. Other optional window materials and optional window configurations are available.</p>
				</div>  
			</div>
		</tab>		       
        <tab heading="Applications">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Quiet Haven™ Pressurized Enclosure Applications</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/qh-app.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p class="no-bottom-space"><b>McGill AirSilence custom builds Quiet Haven enclosures to meet the requirements of many applications.</b></p>
					<ul class="no-top-space">
                        <li>Foreman and supervisory in-plant offices</li>
                        <li>Control rooms</li>
                        <li>Information offices</li>
                        <li>Workstations</li>
                        <li>Power plant offices</li>
                        <li>Machine tender stations</li>
                        <li>Guard houses</li>
                        <li>Security rooms</li>
                        <li>Conference/training rooms</li>
                        <li>Warehouse offices</li>
                        <li>First aid station</li>
                        <li>Dispensaries</li>
                        <li>Shipping and receiving</li>
                        <li>Computer rooms</li>
                        <li>Lunch/break rooms</li>
                        <li>Quality control inspection offices</li>
                        <li>Material testing stations</li>
                        <li>Drafting rooms</li>
					</ul>				
				</div>      
			</div>
		</tab>		
	</tabset>
</div>