<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Engineered Acoustical Systems and Noise Control Products for Industrial and HVAC Applications</h4>
	</div>
    <p></p>
	<div class="card card-block card-outline-primary col-xs-12">
        <div class="card-text col-xs-12 col-md-6">
            <ul>
                <li>McGill AirSilence provides noise control solutions for a broad range of industrial and HVAC applications. We accomplish that by offering a diversified line of acoustical products including panel systems and enclosures, silencers, curtain systems, barriers, baffles, and an array of noise control materials such as foams, tiles, and acoustical linings; and a manufacturing facility for the production of acoustical products.</li>
                <br />
                <li>We also offer turnkey services for all our products to ensure that you receive a high-quality installation which meets your noise control and service requirements. Our sales representatives, sales managers, and engineering staff welcome the chance to match your noise control problem with our products and allow you to make the decision on which solution best meets your needs, performance requirements, and budget.</li>
            </ul>
        </div>
        <div class="media col-xs-12 col-md-6">
            <div class="media-right">
                <img class="py-1" src="assets/img/aboutus/about-1.jpg">
                <img class="py-1" src="assets/img/aboutus/about-2.jpg">
                <img class="py-1" src="assets/img/aboutus/about-3.jpg">
                <img class="py-1" src="assets/img/aboutus/about-4.jpg">
            </div>
            <div class="media-body">
                <p></p>
            </div>
	    </div>
</div>