<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Rectangular-k27® Duct and Fittings</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow's Rectangular-k27 duct and fittings provide exceptional noise and thermal control in air handling systems. This double-wall, insulated ductwork is constructed of a solid metal outer pressure shell and a metal inner liner with a layer of insulation sandwiched between. The acoustical/thermal insulation can be used with air velocities up to 10,000 fpm and temperatures up to 250°F. It is available in thicknesses of 1, 2, and 3 inches and has a maximum thermal conductivity (k) factor of 0.27 Btu/hour/square foot/°F/inch thickness. Our standard construction is galvanized steel with a perforated metal liner and 1-inch-thick uncoated fiberglass insulation. Other insulation materials and metals are available, as are solid metal inner liners. Rectangular-k27 duct and fittings are shipped fully assembled with TDC™ transverse duct connector flanged ends.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/dwrectduct/k27Graphic.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
                <div class="card-text">
                    <hr>
                    <p>Available Sizes, Materials, and Thicknesses</p>
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td>Construction <sup>1</sup></td>
                                  <td>Materials <sup>2, 6</sup></td>
                                  <td>Thickness</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td rowspan="3">Rectangular-k27<br />(outer shell)</td>
                                  <td>Galvanized Steel</td>
                                  <td>28-18 gauge <sup>4</sup></td>
                              </tr>
                              <tr>
                                  <td>Stainless Steel</td>
                                  <td>26-22 gauge <sup>5</sup></td>
                              </tr>
                              <tr>
                                  <td>Aluminum</td>
                                  <td>0.032-0.063 inch</td>
                              </tr>
                              <tr>
                                  <td rowspan="3">Rectangular-k27 <sup>3</sup><br />(metal inner liner)</td>
                                  <td>Galvanized Steel</td>
                                  <td>24-20 gauge</td>
                              </tr>
                              <tr>
                                  <td>Stainless Steel</td>
                                  <td>24-20 gauge</td>
                              </tr>
                              <tr>
                                  <td>Aluminum</td>
                                  <td>0.040-0.063 inch</td>
                              </tr>
                          </tbody>
                        </table>
                    </div><br />
                    <div class="col-xs-12">
                        <p class="small">
                            <u>Notes</u>
                        </p>
                        <ol>
                          <li class="small">Both outer pressure shell and metal inner liner incorporate Pittsburgh lockseam construction and TDC end connectors. Ductwork is fully assembled with a finished length of 56 1/4 inches or 68 1/4 inches.</li>
                          <li class="small">When steel is used, the outer pressure shell and metal inner liner can be made of different types of steel. When aluminum is used, both the outer pressure shell and metal inner liner must be aluminum.</li>
                          <li class="small">Standard duct and fittings metal liner is perforated galvanized steel.</li>
                          <li class="small">Galvanized steel fittings with Pittsburgh lockseam construction are also available in 14 gauge.</li>
                          <li class="small">Stainless steel fittings with Pittsburgh lockseam construction are also available in 20 gauge.</li>
                          <li class="small">SilverGuard™ rectangular, double-wall duct and fittings are available on special order.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Erosion Resistant">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Rectangular-k27® — Erosion Resistant</h4><br />
                <div class="card-text">
                    <p>Rectangular-k27 duct is a dependable, erosion-resistant alternative to lined rectangular duct, providing improved protection for insulation exposed to the airstream. In Rectangular-k27 duct, a metal inner liner ensures that high airflow velocities cannot separate insulation fibers from the lining. The metal liner holds the insulation in place without the need for pins or other mechanical fasteners typical of lined ductwork. Because there are no fasteners that can loosen during continued operation, there is no possibility of the insulation pulling away from the duct's outer wall and creating erosion or airflow problems.</p>
                    <p>For applications where fiber erosion is of special concern, we can supply Acousti-Line™ insulation with an erosion-resistant acrylic coating. Our double-wall duct and fittings are rated for airflow velocities up to 4,000 feet per minute and have been tested according to UL-181 standards at airflow velocities of 10,000 feet per minute with no evidence of insulation erosion.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/dwrectduct/constructionrectk27.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Special Air Quality Options">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Rectangular-k27® — Special Air Quality Options</h4><br />
                <div class="card-text">
                    <p>Acousti-Line™ insulation is available with an acrylic coating formulated with an antimicrobial agent that is EPA registered. The coating resists the growth of fungus and bacteria, as determined by tests in accordance with ASTM C 1071 and ASTM G21 and G22. For added protection against microbial growth, the coated surface can be cleaned according to the procedures detailed in the North American Insulation Manufacturers Association (<a href="http://www.naima.org/">NAIMA</a>) Duct Cleaning Guide. When a vapor barrier is needed to prevent moisture from condensing in the ductwork's insulation, we can supply Mylar®, Tedlar®, polyethylene, or other vapor barriers to meet your specifications.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/dwrectduct/constructionrectk27.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>

                <div class="card-text">
                  <hr>
                  <p>Mylar® and Tedlar® are registered trademarks of DuPont.</p>
                </div>

            </div>
        </tab>

    <tab heading="Standard Design">
      <div class="card card-block card-outline-primary ">
        <div class="card-text">
          <div class="media">
              <div class="media-left">
                  <img src="assets/img/dwrectduct/k27Graphic.jpg">
              </div>
              <div class="media-body">
              </div>
          </div>
        </div><br />
        <div class="col-xs-12 card-text">
          <b>Construction</b>
          <div class="center-block">
              <figure class="mcgill-picture">
                  <img src="assets/img/dwrectduct/pittsburghLock-lg.jpg">
                  <figcaption>
                      <strong>Pittsburgh Lockseam</strong><br />
                  </figcaption>
              </figure>
          </div>
        </div>
        <div class="col-xs-12 card-text">
          <br /><br />
          <b>Available Connectors</b>
          <div class="center-block">
              <figure class="mcgill-picture">
                  <img src="assets/img/dwrectduct/lockformercleat.jpg">
                  <figcaption>
                      <strong>Lockformer TDC™ Duct Connector/Cleat</strong><br />
                  </figcaption>
              </figure>
          </div>
        </div>       
      </div>
    </tab>


    </tabset>
</div>