<div class="animated fadeIn">
	<tabset>
    <tab heading="McGill AirSilence">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Locations</h4>
				<div class="card-text">
					<br />
					<b>McGill AirSilence LLC</b>
					<hr> 
          2400 Fairwood Avenue<br /> 
          Columbus, OH 43207<br /> 
          614/829-1200<br />
          Fax: 614/829-1488<br /> 
          sales@mcgillairsilence.com<br />
				</div>
				<div class="card-text">
					<br />
					<b>McGill AirSilence Plant</b>
					<hr>
          2400 Fairwood Avenue<br />
          Columbus, OH 43207<br />
          614/829-1200<br />
          Fax: 614/829-1488<br />
          production@mcgillairsilence.com<br />
				</div>
			</div>
		</tab>
    <!--<tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>-->
		<!--<tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>-->
	</tabset>
</div>