<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Soundscreen™ Industrial Acoustical Panel Systems</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/soundscreen.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p>&nbsp;</p>
					<p>Every industrial noise problem has a variety of possible solutions with different cost/benefit options. Acoustical panel projects usually have their own assembly, performance, equipment access, and maintenance requirements. That is why McGill AirSilence offers four different acoustical panel products that can be integrated into a variety of packages. They combine state-of-the-art acoustical technology and materials to withstand the harsh environments and rough use associated with industrial manufacturing. McGill AirSilence's Type SL, TG, RR, and WA-1000 acoustical panel systems give you consistently high quality and excellent performance at an economical price.</p>
					<p><b>MATERIAL — TYPE</b><br />The standard skin material for all acoustical panel products is galvanized steel, either solid or perforated, which has a minimum G-60 zinc coating. The perforated steel has a 23 percent open area. Other skin materials are available including paintable galvanized steel, types 304 and 316 stainless steel, and aluminum. Septum panels and panels with solid metal outer and inner shells are also available.</p>
					<p><b>INSULATION</b><br />The acoustical/thermal insulating fill used in all standard Soundscreen panels is glass fiber insulation. It will not settle or promote the growth of bacteria, mold, vermin, or insects.</p>
					<p><b>SURFACE BURNING CHARACTERISTICS</b><br />All insulating materials, inner and outer surfaces and acoustical caulking used in Soundscreen panels meet the requirements of NFPA-90A.</p>
				</div>      
			</div>
		</tab>
        <tab heading="Panel Construction">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Soundscreen™ Standard Acoustical Panel Construction</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const1.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p>Standard Type SL, TG, and RR panels are the basic building blocks for all Soundscreen acoustical enclosures. The standard panel for Type SL, TG, and RR systems consists of a sandwich construction of an 18-gauge, minimum G-60 galvanized solid steel outer shell, acoustical thermal insulating fill, and a 22-gauge, perforated, minimum G-60 galvanized steel inner liner.</p>
					<p>All longitudinal joining channels and internal reinforcing members in Type SL and TG panels are fabricated from a minimum 18-gauge, minimum G-60 galvanized steel.</p>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const-sl.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>TYPE SL — SNAP-LOCK PANEL SYSTEMS — Permanent installations</b><br />Type SL panel systems are not intended for use in projects in which future disassembly and re-erection may be required.</p>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const-tg.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>TYPE TG — TONGUE-AND-GROOVE PANEL SYSTEMS — Semi-permanent installations</b><br />Type TG panel systems allow future disassembly and re-erection.</p>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-const-rr.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>TYPE RR — RAPID REMOVAL PANEL SYSTEMS — Movable installations</b><br />Type RR panel systems provide superior flexibility and ease of relocation.</p>
					<p><b>Instant access to machinery</b>—Removal and re-installation of individual panels or entire wall surfaces is fast and easy.</p>
					<p><b>Adaptable to "close quarters"</b>—More permanenet acoustical enclosure systems must provide walkway clearance around interior machinery for maintenance access. This uses up valuable floorspace. The ease of removal and re-installation of RR panel systems eliminates this requirement, allowing an RR panel enclosure to occupy a smaller amount of floorspace.</p>
					<p>&nbsp;</p>
				</div> 			
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/wa1000.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p><b>WA-100 — WALL ABSORBING PANELS — Mount to walls and ceilings</b><br />In spaces where high levels of noise reverberation exist, the proper combination of ceilng and wall absorbers can provide up to 10dBA reduction. In addition, the space acoustics will be considerably "softened," giving better communications and a generally improved working environment.</p>
				</div>
			</div>
		</tab>
        <tab heading="Assembly & Installation">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Assembly and Installation Sequence of a Soundscreen™ Acoustical Enclosure</h4><br />
				<div class="card-text">
					<p><b>ACCESSORIES</b><br />Heating, cooling and ventilation systems, electrical systems, factory paint finishes, and telecommunications connectors can be furnished.</p>
					<p><b>ACOUSTICAL DOORS</b><br />All Soundscreen acoustical enclosure systems can be furnished with a wide variety of acoustical doors. These include versions for personnel and industrial applications such as material and machinery access. Standard personnel doors are 36 inches wide by 80 inches high and can be supplied with a 24-inch by 30-inch safety glass vision panel with neoprene acoustical edges and bottom seals. Standard industrial access doors are 24 inches wide by 66 inches high and are 4 inches thick. They are pre-hung, insulated, and equipped with two hinges, two door latches (with inside personnel safety releases), and gasketing. Doors are also available in single- and double-leaf hinged, right- and left-hand swings, single- and double-horizontal slide, vertical slide, bifold constructions, and manual and automatically operated versions. Observation windows can be provided in all doors.</p>
					<p><b>OBSERVATION WINDOWS</b><br />Standard observation windows for Type SL, TG, and RR acoustical panel systems are constructed of double-pane, 1/4-inch-thick safety glass held in place with neoprene acoustical seals and separated by an air space of the same thickness as the panel.<br />Observation windows can be provided in all doors.</p>
				</div>  
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-asm-sltg.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p class="no-bottom-space"><b>Typical Installation Sequence for SL and TG Panel Systems</b></p>
					<ol class="no-top-space">
						<li>Locate base channel</li>
						<li>Set corner panels</li>
						<li>Install wall, partition, and door panels</li>
						<li>Add wall trim &#151; outside and inside</li>
						<li>Optional structural steel (as required)</li>
						<li>Add roof panels</li>
						<li>Add roof trim &#151; outside and inside</li>
						<li>Completed acoustical enclosure</li>
					</ol>
				</div>      
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-asm-rr.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p class="no-bottom-space"><b>Typical Installation Sequence for RR Panel Systems</b></p>
					<ol class="no-top-space">
						<li>Locate corner posts</li>
						<li>Set up structural tubing framework</li>
						<li>Add lower channel, upper channel, and roof angle</li>
						<li>Install doors and windows</li>
						<li>Lift side panels into place</li>
						<li>Add roof panels</li>
						<li>Completed acoustical enclosure</li>
					</ol>
				</div>      
			</div>
		</tab>		
        <tab heading="Features">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Soundscreen™ Acoustical Enclosure Features</h4><br />
				<div class="card-text">
					<p><b>FACTORY PREFORMED TRIM AND STRUCTURAL ITEMS</b><br />When ordered, Type SL, TG, and RR acoustical panels are supplied with the necessary trim and structural items to secure them at the floor, corners, and roof, and to provide a finished appearance.</p>
					<p><b>JOINT INSULATION</b><br />Joint insulation can be provided when specified; however, testing has shown it provides no acoustical or thermal benefits in enclosures where panel joints have been sealed with acoustical caulking.</p>
					<p><b>MOISTURE BARRIER</b><br />When internal condensation or moisture of water mist, or particulate contamination of the insulation is anticipated, a polyethylene barrier should be specified. This barrier is placed between the perforated metal inner liners and the insulating fill. An acoustic spacing material is used between the polyethylene barrier and perforated metal to maintain acoustic performance.</p>
					<p><b>SCREWS</b><br />When ordered, self-tapping sheet metal screws (#10 x 3/4 inch) are supplied with all Type TG systems for assembly of the panel joints and trim. Sheet metal screws are not required in Type SL panel joints but are provided for trim assembly. Where required, self-tapping screws (Tek-3) are supplied for the assembly of all Type RR system frames.</p>
					<p><b>PIECE MARKING</b><br />A convenient piece-marking and color-coding system for Soundscreen components is used. Each panel carries an identification mark that is keyed to the assembly drawings and indicates its location and function. A color-coding system is used to assure proper panel selection during assembly if more than one Soundscreen enclosure is to be assembled at the jobsite.</p>
					<p><b>ACOUSTICAL CAULKING</b><br />When ordered, UL-Classified acoustical caulking is supplied in sufficient quantity to assemble all Type Sl and TG Soundscreen enclosures. Acoustical caulking is not required in Type RR panel systems.</p>
					<p><b>STRUCTURAL STEEL</b><br />Structural steel items such as pipe supports, structural beams, angles, and channels may be required in certain Soundscreen enclosures. In such cases, McGill AirSilence provides this information on the assembly drawings and will supplu structural steel components at an additional price.</p>
				</div>  
			</div>
		</tab>		
        <tab heading="Specifications">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Recommended Specifications for Soundscreen™ Acoustical Panel Systems — Industrial</h4><br />
				<div class="card-text">
					<p><b>GENERAL</b><br />Double-wall (insulated) acoustical enclosures shall be provided as specified on drawings. All panels and components shall be prefabricated and supplied by a nationally-recognized manufacturer with published standards of construction, assembly, and technical performance. The manufacturer shall have produced a standardized, prefabricated panel system for at least 10 years. Construction and performance of the installed system and components shall conform to all specifications listed in this document.</p>
					<p><b>JOINT CONSTRUCTION</b><br />Enclosure panels shall have either a snap-lock joint construction or a tongue-and-groove joint construction. Panels with snap-lock joint construction shall be such that adjacent panels are held together rigidly with an integral, continuous self-locking joint on both inside and outside panel surfaces. Panels with tongue-and-groove joint construction will be held together with fasteners such as screws. Neither panel types should require H-connectors, tape, or any other type of additional connectors.</p>
					<p class="no-bottom-space"><b>PANEL CONSTRUCTION</b></p>
					<ol class="no-top-space">
						<li>All enclosure panels shall be 2 or 4 inches thick, as noted on the drawings, with a solid galvanized steel exterior shell, and a solid or perforated interior galvanized steel shell as noted on the drawings.</li>
						<li>The outer and inner shells shall be tack or spot welded to perimeter and internal longitudinal steel channels and box-end internal closures, in such a manner and spacing that the panel assembly will not fail at the maximum operating loads specified in Structural Performance.</li>
						<li>The outer shell shall be constructed of galvanized steel with a minimum 18-gauge thickness.</li>
						<li>The inner shell shall be constructed of galvanized steel (solid or perforated) with a minimum 22-gauge thickness.</li>
						<li>Perforated material shall have a 23 percent open area.</li>
						<li>All perimeter and internal longitudinal steel channel members shall be constructed of ASTM Type A-653 commercial-quality galvanized steel with a minimum 18-gauge thickness.</li>
						<li>All steel panel surfaces, internal channels, and trim items shall be fabricated from zinc-coated steel with a dipped galvanized coating (minimum G-60 coating with class as determined by ASTM A-924) and shall meet all requirements of ASTM A-653 for commercial-quality galvanized carbon steel.</li>
						<li>Each enclosure panel shall be completely filled with acoustical/thermal insulating material that is noncombustible, inert, mildew-resistant, and vermin-proof. Insulation shall not settle within the enclosure panel. No insulating materials shall be used that have a flame spread greater than 25 or a smoke developed greater than 50.</li>
					</ol>
					<p class="no-bottom-space"><b>COMPONENTS AND INSTALLATION</b></p>
					<ol class="no-top-space">
						<li>All base channels shall be installed on a level concrete curb, the dimensions of which shall be determined from plan-view shop drawings of the system provided by the system manufacturer. Spacing of base channel attachments shall be as outlined in the manufacturer's standard details of assembly.</li>
						<li>All assembly trim items shall be constructed of hot-dipped galvanized steel (minimum 18-gauge thickness) and furnished in standard lengths to be field cut to the required dimensions. Spacing of sheet metal screws, application of duct sealant, and positioning of trim shall be in accordance with the manufacturer's published erection and installation details.</li>
						<li>For enclosures to be installed outdoors, joints and trim shall be sealed with Uni-Weather solvent-based duct sealant that is a neoprene-phenolic mastic formulated to withstand temperatures from -20&#176;F to +300&#176;F. Sealant shall be formulated such that surface preparation of solvent cleaning is not necessary. Sealant shall have a UL Classification marking with a flame spread of 5 and smoke developed of 0 when applied to 18-gauge galvanized steel and a flame spread of 5 and smoke developed of 5 when applied to inorganic reinforced cement board, both at a coverage of 53 square feet per gallon. Sealant shall exceed 1,000 hours under ASTM-D572 test conditions (oxygen bomb) without becoming brittle and 500 hours in QUV accelerated-exterior-aging apparatus without degradation (under ASTM-C732 test conditions).</li>
						<li>Acoustical personnel access doors shall be provided where specified on drawings and shall be 24 inches wide by 60 inches high unless otherwise indicated. All doors shall be the same nominal thickness as the adjacent panels. All access door panels and doors shall be constructed with an 18-gauge solid inner and outer shell. Each door shall have a minimum of two ball-bearing hinges and two wedge-lever door latches or panic/passage hardware. Doors shall seat against neoprene gasket materials, installed around the entire perimeter of the door frame in such a manner that door operation will provide direct compression with no sliding action between the door and gasket.</li>
						<li>Where shown on drawings, acoustical doors shall be furnished with windows, which are composed of double-glazed layers of wire-reinforced tempered glass, separated by an air space, and sealed against acoustical and air leakage by interior and exterior rubber seals. Windows shall be 12 inches wide by 12 inches high unless otherwise indicated.</li>
					</ol>
					<p class="no-bottom-space"><b>STRUCTURAL PERFORMANCE</b></p>
					<ol class="no-top-space">
						<li>The entire enclosure shall be designed by the manufacturer to be self-supporting. Where roof spans and wall loadings require additional structural strength, it shall be provided by heavier panel skins, additional internal longitudinal reinforcing members, or additional structural members and necessary supporting pipe columns.</li>
						<li>Under the conditions specified in the previous section, the assembled structure shall not exhibit any panel joint deflections in excess of L/200, where L is the unsupported span length of any panel section within the completed enclosure.</li>
					</ol>
					<p class="no-bottom-space"><b>ACOUSTICAL PERFORMANCE</b></p>
					<ol class="no-top-space">
						<li>The manufacturer shall provide certified testing data obtained from an acoustical laboratory, listing sound absorption and transmission loss characteristics of the enclosure. When requested by the engineer, the manufacturer shall arrange to have a copy of all pertinent acoustical laboratory reports forwarded directly from the laboratory to the engineer.</li>
						<li>
							When tested according to ANSI/ASTM C423 or a subsequent version of the standard, the enclosure shall have minimum sound absorption coefficients, as shown in the table below, in the 1/3 octave band center frequencies. The coefficients used shall be those reported by the acoustical laboratory.<br />
							<table cellpadding=5>
								<tr>
									<th colspan="8">Sound Absorption Coefficients</th>
								</tr>
								<tr>
									<th>Octave Band (Hz)</th>
									<th>125</th>
									<th>250</th>
									<th>500</th>
									<th>1,000</th>
									<th>2,000</th>
									<th>4,000</th>
									<th>NRC</th>
								</tr>
								<tr>
									<td>4-inch panel construction</td>
									<td>0.63</td>
									<td>1.09</td>
									<td>1.17</td>
									<td>1.08</td>
									<td>1.03</td>
									<td>0.97</td>
									<td>1.09</td>
								</tr>
								<tr>
									<td>2-inch panel construction</td>
									<td>0.22</td>
									<td>0.64</td>
									<td>1.06</td>
									<td>1.06</td>
									<td>0.98</td>
									<td>0.87</td>
									<td>0.94</td>
								</tr>
							</table>
						</li>
						<li>
							When tested according to ASTM E90 or a subsequent version of this standard, the enclosure panel shall have minimum airborne sound transmission losses in the combined full octave band center frequencies as listed below:<br />
							<table>
								<tr>
									<th colspan="8">Sound Transmission Losses</th>
								</tr>
								<tr>
									<th>Octave Band (Hz)</th>
									<th>125</th>
									<th>250</th>
									<th>500</th>
									<th>1,000</th>
									<th>2,000</th>
									<th>4,000</th>
									<th>STC</th>
								</tr>
								<tr>
									<td>for 4-inch panels</td>
									<td>19</td>
									<td>27</td>
									<td>40</td>
									<td>53</td>
									<td>58</td>
									<td>63</td>
									<td>40</td>
								</tr>
								<tr>
									<td>for 2-inch panels</td>
									<td>19</td>
									<td>21</td>
									<td>30</td>
									<td>40</td>
									<td>49</td>
									<td>51</td>
									<td>34</td>
								</tr>
							</table>
						</li>
					</ol>
					<p class="no-bottom-space"><b>THERMAL PERFORMANCE</b></p>
					<ol class="no-top-space">
						<li>Insulating materials used in all prefabricated enclosure panels shall have the following maximum thermal conductances at a mean temperature of 75°F: 0.06 BTU per hour per square foot per °F (for 4-inch panels) and 0.12 BTU per hour per square foot per °F (for 2-inch panels).</li>
					</ol>					
				</div>  
			</div>
		</tab>			
        <tab heading="Applications">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Soundscreen™ Acoustical Panel Applications</h4><br />
				<div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
							<img class="embed-responsive-item" src="assets/img/ss-app.jpg">
						</figure>
					</div>
				</div>
				<div class="card-text">
					<p class="no-bottom-space"><b>Typical Applications</b></p>
					<ul class="no-top-space">
						<li>Indoor and outdoor equipment</li>
						<li>Process blower enclosures</li>
						<li>Generator set enclosures</li>
						<li>Compressor enclosures</li>
						<li>Turbine enclosures</li>
						<li>Pump enclosures</li>
						<li>Punch press enclosures</li>
						<li>Fan enclosures</li>
						<li>Woodworking enclosures</li>
						<li>Grinding enclosures</li>
						<li>Chipper enclosures</li>
						<li>Pulverizor enclosures</li>
						<li>Granulator enclosures</li>
						<li>Paint booths</li>
						<li>Control room/office enclosure</li>
						<li>Engine test cells</li>
						<li>Barrier wall systems</li>
						<li>Rooftop barriers (enclosing chillers, pumps, etc.)</li>
						<li>Wall absorbers for equipment rooms</li>
					</ul>				
					<p class="no-bottom-space"><b>Design Considerations for Acoustical Enclosures</b><br />Acoustical enclosures and barrier wall systems are used in an infinite variety of noise applications. Each application has its own set of design goals and restrictions. Among these are:</p>
					<ul class="no-top-space">
						<li>Achieve maximum noise reduction</li>
						<li>Maintain productivity</li>
						<li>Occupy minimum floor space</li>
						<li>Accomodate existing work flow</li>
						<li>Provide proper ventilation conditions</li>
						<li>Provide proper lighting considerations</li>
						<li>Provide necessary operator visual and physical access</li>
						<li>Allow routine maintenance</li>
						<li>Avoid introducing safety hazards</li>
						<li>Anticipate major repair access requirements</li>
						<li>Economize cost</li>
					</ul>						
				</div>      
			</div>
		</tab>		
	</tabset>
</div>