<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill AirSilence</h4>
		<p><b>Your Resource for Industrial and HVAC Noise Control Products</b></p>
		<p class="card-text">Most noise problems have a variety of possible solutions with different cost/benefit options. McGill AirSilence offers a wide range of noise control products and systems that can be integrated into a viriety of industrial and HVAC noise control structures including walls, barriers, equipment, and personnel enclosures.</p>
	</div>
    <p></p>
	<div class="card card-block card-outline-success ">
        <div class="card-header card-success">
            <h4>News</h4>
        </div>
        <p></p>
		<h5 class="card-title">Heading for First Item</h5>
		<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
	</div>
</div>