<div class="animated fadeIn">
    <tabset>
        <tab heading="Dimensional and Performance Data">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/dimensionSheets.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirFlow has made the following data available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/SWR_dimensions.pdf" target="_blank">Single-Wall and Single-Wall Lined, Round Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/SWFO_dimensions.pdf" target="_blank">Single-Wall and Single-Wall Lined, Flat Oval Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/SWR_UG_dimensions.pdf" target="_blank">Single-Wall, Round Uni-Gasket Fittings and Related Products Dimensions</a><br /><br />
                    <a href="assets/literature/DWR_dimensions.pdf" target="_blank">Double-Wall, Round Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/DWFO_dimensions.pdf" target="_blank">Double-Wall, Flat Oval Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/DWR_UG_dimensions.pdf" target="_blank">Double-Wall, Round Uni-Gasket Fittings and Related Products Dimensions</a><br /><br />
                    <a href="assets/literature/SWrect_dimensions.pdf" target="_blank">Single-Wall and Single-Wall Lined, Rectangular Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/DWrect_dimensions.pdf" target="_blank">Double-Wall, Insulated Rectangular-k27 Duct and Fittings Dimensions</a><br /><br />
                    <a href="assets/literature/perfGrilles_dataSheets.pdf" target="_blank">Perforated Grilles Performance Data</a><br /><br />
                    <a href="assets/literature/register_dataSheets.pdf" target="_blank">Duct Registers Performance Data</a><br /><br />
                    <a href="assets/literature/factair_dataSheets.pdf" target="_blank">Factair Industrial Diffusers Performance Data</a><br /><br />
                    <a href="assets/literature/silencer_performData.pdf" target="_blank">Sounpak Silencers Performance Data</a><br /><br />
                </div>
            </div>
        </tab>
    </tabset>
</div>