<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Curtain Systems</h4><br />
				<div class="card-text">
                    <p class="no-bottom-space"><b>Features:</b></p>
                    <ul class="no-top-space">
                        <li>Noise reduction uli to 15 dBA</li>
                        <li>Quick access to machinery and equiliment</li>
                        <li>Custom-engineered systems to fit your application</li>
                        <li>Easy to install, relocate, and modify</li>
                        <li>Fire safe with low smoke emissions</li>
                        <li>Roof lianels and ventilation systems available</li>
                        <li>Olitional observation windows</li>
                        <li>Long service life</li>
                    </ul>
                </div>      
                <div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-21by9">
						<figure class="mcgill-picture">
                            <img class="embed-responsive-item" src="assets/img/fs-curtain.jpg">
                        </figure>
                    </div>
                    <span>OSHA noise standards were met by enclosing punch presses with an L-shaped system of acoustical curtains hung from overhead tracks.</span>
                </div>
                <div class="card-text">
                    <p>&nbsp;</p>
                    <p><b>REDUCE THE TRANSMISSION OF MACHINE-GENERATED NOISE WITHOUT HAMPERING WORKER ACCESS TO THE MACHINERY.</b></p>
                    <p>Moderate industrial noise control problems (requiring 5-15 dBA noise reduction) can often be solved with McGill AirSilence's flexible acoustical curtain systems. Made of durable panels, our curtain systems are designed for the toughest industrial environments. Whether acting as full or partial enclosures, machinery shrouds and hoods, partitions, or barrier walls, they reduce the transmission of machine-generated noise without hampering worker access to the machinery.</p>
                    <p>McGill AirSilence offers three main types of panels for its acoustical curtain systems: double-layer blocking, single-layer blocking, and absorption. Transparent panels are also available.</p>
                </div>
			</div>
		</tab>
        <tab heading="Components">	
			<div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Fibersorb™ Acoustical Curtain Panels, Barrier Screens, Baffles and Support Framework</h4><br />
                <tabset>
                    <tab heading="ACOUSTICAL CURTAIN PANELS">
                        <div class="col-xs-12 card-text">
                            <p>McGill AirSilence offers three main types of panels for its acoustical curtain systems: double-layer blocking, single-layer blocking, and absorption in thicknesses of 1, 2, and 4 inches. Transparent panels are also available. Fibersorb acoustical curtain systems are sized and configured to meet the specifications of each application.</p>
                        </div>
                        <div class="col-xs-12 card-text">
                            <p><b>DOUBLE-LAYER BLOCKING PANELS</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-double-layer.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <p>The versatile double-layer blocking panel is ideal for isolating multiple noise sources located on both sides of the panel. It consists of a vinyl barrier sandwiched between two layers of 1-inch-thick fiberglass insulation. The double-layer blocking panel absorbs noise and blocks transmission of sound coming from both sides of the curtain. </p>
                            </div>
                        </div>
                        <div class="col-xs-12 card-text">
                            <p><b>SINGLE-LAYER BLOCKING PANELS</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-single-layer.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <p>The single-layer blocking panel is ideally suited for isolating a noise source located on one side of the curtain system. A single-layer panel is designed with 1-inch fiberglass insulation sewn into one side of a vinyl barrier. The insulation absorbs noise, and the vinyl barrier blocks its transmission to other areas.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 card-text">
                            <p><b>ABSORPTION PANELS</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-abs.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <p>The absorption panel does not block noise; it only absorbs it. The system consists of 2-inch quilted fiberglass panels that are usually attached to an existing wall or barrier to reduce reverberant noise. </p>
                            </div>
                        </div>                        
                    </tab>
                    <tab heading="ACOUSTICAL BARRIER, BAFFLES, & SUPPORT">
                        <div class="col-xs-12 card-text">
                            <p>An alternative to McGill AirSilence's free-hanging acoustical curtains are our mobile acoustical barrier screen, wall panels, and overhead ceiling baffles.</p>
                        </div>
                        <div class="col-xs-12 card-text">
                            <p><b>ACOUSTICAL BARRIER SCREEN</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-16by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-acoustical-screen.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <p>Standard acoustical barrier screens run 4 feet wide by 8 feet high, but custom-made screens are available. The screen consists of an 18-gauge steel frame with supporting legs and curtain panels which are fastened to the top of the screen with grommets. Barrier screens are an effective means of noise control where mobility is desired.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 card-text">
                            <br />
                            <p><b>ROLL GOODS</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-acoustical-rolls.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <ul>
                                    <li>Curtain material is available in 25- to 50-foot lengths (custom sizing available)</li>
                                    <li>Standard width — 48 inches (custom sizing available</li>
                                    <li>Available with bound and sewn finished edges or unbound edges</li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 card-text">
                            <br />
                            <p><b>CURTAIN WALL PANELS AND OVERHEAD BAFFLES</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-acoustical-curtain.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <p>Curtain wall panels and overhead baffles are availabe in the same panel materials and types as our standard curtain systems. Standard sizes are 4 feet wide by 8 feet long.</p>
                                <ul>
                                    <li>Reduce reverberation</li>
                                    <li>Add sound absorption</li>
                                    <li>Lower noise levels</li>
                                    <li>Tone room, and turn hard reflective surfaces into soft, sound-absorptive surfaces</li>
                                    <li>Improve communication</li>                                    
                                </ul>
                            </div>
                        </div>                        
                        <div class="col-xs-12 card-text">
                            <br />
                            <p><b>CURTAIN SUPPORT FRAMEWORK</b></p>
                            <div class="col-xs-4 embed-responsive embed-responsive-21by9">
                                <figure class="mcgill-picture">
                                    <img class="embed-responsive-item" src="assets/img/fs-acoustical-frame.jpg">
                                </figure>
                            </div>             
                            <div class="col-xs-8 card-text">
                                <ul>
                                    <li>Standard curtain track and hardware system is manufactured from heavy-gauge galvanized steel components</li>
                                    <li>Floor-mounted, beam-mounted, suspended, wall-mounted, and ceiling-mounted styles are available</li>
                                    <li>Double-track configuration allows for slide-by access at any point</li>
                                    <li>Curved corner options allow for even greater access</li>
                                    <li>Type H-D heavy-duty frame (optional) features structural steel tubing for maximum strength to accommodate larger enclosures.</li>                                
                                </ul>
                            </div>
                        </div>                        
                    </tab>                    
                </tabset>
			</div>
        </tab>	
        <tab heading="Assembly">	
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Typical Assembly of a Fibersorb™ Acoustical Curtain Enclosure</h4><br />
                <div class="col-xs-12">
					<div class="col-xs-12 embed-responsive embed-responsive-4by3">
						<figure class="mcgill-picture">
                            <img class="embed-responsive-item" src="assets/img/fs-assy.jpg">
                        </figure>
                    </div>
                </div>
                <div class="card-text">
                    <p><b>Absorber and Barrier Curtain System Use Factors</b></p>
                    <ul>
                        <li>
                            <b>MODEL SC</b><br />
                            Total and partial enclosures, shrouds, and hoods. Noise source on one side. Noise reduction objectives: 10-20<sup>1</sup> dBA. Maximum curl, tear abuse resistance.
                        </li>
                        <li>
                            <b>MODEL SC-2</b><br />
                            Total and partial enclosures, shrouds, and hoods. Noise source on one side. Best product combining the durability of a 1 lb/sq ft reinforced acoustical barrier with a 2-inch-thick faced fiberglass absorber offering maximum performance (STC=32, NRC=0.75). Noise reduction objectives: 20-25<sup>1</sup> dBA.
                        </li>
                        <li>
                            <b>MODEL DC</b><br />
                            Separator walls and divider partitions. Noise source on both sides. Maximum performance (STC=33, NRC=0.75). Noise reduction objectives: 20-25<sup>1</sup> dBA. Barrier septum 2 lb/sq ft.
                        </li>
                        <li>
                            <b>MODEL DC-2</b><br />
                            Separator walls and divider partitions. Noise source on both sides. Noise reduction objectives: 10-20<sup>1</sup> dBA. Most economical of both styles employing 1 lb/sq ft flexible barrier and 2-inch absorber. Passes ASTM E84-84a; Class 1 fire rating.<br/><br/>
                            <sup>1</sup>Actual noise reduction can vary with application and may exceed these values.
                        </li>                       
                    </ul>
                </div>
			</div>
		</tab>
    </tabset>
</div>